.field {
    
    &__text {
        color: rgba(107,114,128, 1);
        width: 100%;
    }

    &__result {
        width: 100%;
    }

    &__input {
        padding: 1rem;
        box-sizing: border-box;

        width: 100%;

        border: 1px solid rgba(229,231,235,1);
        border-radius: 0.25rem;

        transition: .3s;

        &:focus {
            outline: none;
            box-shadow: 0 0 0px 2px rgba(96,165,250,0.5);;
        }
    }

    &__button {
        padding: 1rem;

        border: 1px solid rgba(229,231,235,1);
        border-radius: 0.25rem;

        background: none;

        cursor: pointer;

        &:focus {
            box-shadow: 0 0 0px 2px rgba(96,165,250,0.5);;
        }
    }
}